<li class="page-header-nav-item tooltip--bottom"
    ng-class="{active: active}"
    ng-click="select()">

    <button class="btn round tooltip--bottom" data-tooltip="{{title}}">
        <span class="{{icon}}"></span>
    </button>
</li>
