@red: #F44336;
@green: #F44336; 
@white: #FFFFFF;
@grey: #616161;

.tabs-list {
	list-style-type: none;
    padding-left:0;
    margin: 0.71rem;
}

.tab {
	margin: 0;
	padding: 0;
	display: inline-block;
	a {
		color: @grey;
		font-weight: bold;
		padding: 0.5rem 2rem;
		border-radius: 2rem;
        cursor: pointer;
        display: block;
        line-height: 1.7rem;
	}
}

.tab.active {
    a {
        background: @green;
        color: @white;
    }
}


.tab--alert.active a {
    background-color:@red;    
}
